@import "bootstrap";

@include media-breakpoint-down(md) {
  .text-invitation {
    max-width: 250px;
  }
  .text-names {
    max-width: 190px;
  }
}

@font-face {
  font-family: French Kiss;
  src: url('../fonts/FrenchKissscript.ttf');
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(45deg, rgba(248,221,254,1) 0%, rgba(232,133,233,1) 30%, rgb(201, 163, 238) 54%, rgb(204, 152, 236) 74%, rgba(201,75,173,1) 93%);

  background-size: 400% 400%;
  animation: gradient 10s ease infinite;

  width: 100%;
  min-height: 100vh;
  font-family: 'Tenor Sans', sans-serif;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.scroll {
  width: 30px;
  height: 30px;
  border: 2px solid #333;
  border-radius: 50%;
  position: relative;
  animation: down 3s infinite;
  -webkit-animation: down 3s infinite;
  &::before {
    content: '';
    position: absolute;
    top: 7.5px;
    left: 9px;
    width: 9px;
    height: 9px;
    border-left: 2px solid #333;
    border-bottom: 2px solid #333;
    transform: rotate(-45deg);
  }
}

@keyframes down {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translate(0);
  }
}

@-webkit-keyframes down {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translate(0);
  }
}